/*Page DisgnPage + DisignPurchase*/
.tag.green{
    color:green;
}
.tag.orange{
    color:orange;
}
.tag.red{
    color:red;
}
.imgMSA{
    width:180px;
    height:300px;
}
/* Page Login css*/
.bgLogin{
    background: url('./image2/bgLogin.jpg') no-repeat;
    background-size: cover;
    
}
/*Page registration css*/
.bgRegistration{
    background: url('./image2/bgRegistration.jpg') no-repeat; 
    background-size: cover;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: linear-gradient(#203A43 50% ,#2C5364 50%);*/
}
/*Pour les image deroulants*/
.maindiv{
    width: 70%;
    height: 500px;
    position: relative;
    background-image: url('./image2/cpm.jpg');
    background-size: 100% 100%;
    animation: slider 15s infinite linear;
   
}

@keyframes slider {
    0% {
        background-image: url('./image2/cpm.jpg');
        background-size: 100% 100%;
    }
    33% {
        background-image: url('./image2/spiderman.jpg');
        background-size: 100% 100%;
    }
    67% {
        background-image: url('./image2/teammarvel.jpg');
        background-size: 100% 100%;
    }
    100% {
        background-image: url('./image2/im.jpg');
        background-size: 100% 100%;
    }
}

.maindiv2{
    width: 70%;
    height: 500px;
    position: relative;
    background-image: url('./image2/lc.jpg');
    background-size: 100% 100%;
    animation: slider2 15s infinite linear;
   
}

@keyframes slider2 {
    0% {
        background-image: url('./image2/lc.jpg');
        background-size: 100% 100%;
    }
    33% {
        background-image: url('./image2/se.jpg');
        background-size: 100% 100%;
    }
    67% {
        background-image: url('./image2/cdp.jpg');
        background-size: 100% 100%;
    }
    100% {
        background-image: url('./image2/gof.jpg');
        background-size: 100% 100%;
    }
}
.maindiv3{
    width: 70%;
    height: 500px;
    position: relative;
    background-image: url('./image2/ds.jpg');
    background-size: 100% 100%;
    animation: slider3 15s infinite linear;
   
}

@keyframes slider3 {
    0% {
        background-image: url('./image2/ds.jpg');
        background-size: 100% 100%;
    }
    33% {
        background-image: url('./image2/op2.jpg');
        background-size: 100% 100%;
    }
    67% {
        background-image: url('./image2/simpson.jpg');
        background-size: 100% 100%;
    }
    100% {
        background-image: url('./image2/bleach.jpg');
        background-size: 100% 100%;
    }
}
.maindiv4{
    width: 70%;
    height: 500px;
    position: relative;
    background-image: url('./image2/4k.jpg');
    background-size: 100% 100%;
    animation: slider4 15s infinite linear;
   
}

@keyframes slider4 {
    0% {
        background-image: url('./image2/4k.jpg');
        background-size: 100% 100%;
    }
    33% {
        background-image: url('./image2/bee.jpg');
        background-size: 100% 100%;
    }
    67% {
        background-image: url('./image2/tele.jpg');
        background-size: 100% 100%;
    }
    100% {
        background-image: url('./image2/cine.jpg');
        background-size: 100% 100%;
    }
}