/*Page DisgnPage + DisignPurchase*/
.tag.green{
    color:green;
}
.tag.orange{
    color:orange;
}
.tag.red{
    color:red;
}
.imgMSA{
    width:180px;
    height:300px;
}
/* Page Login css*/
.bgLogin{
    background: url('./image2/bgLogin.jpg') no-repeat;
    background-size: cover;
    
}
/*Page registration css*/
.bgRegistration{
    background: url('./image2/bgRegistration.jpg') no-repeat; 
    background-size: cover;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: linear-gradient(#203A43 50% ,#2C5364 50%);*/
}
